<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.security.board.mapper.CommentMapper"> <!-- DAO 링크 -->

    <insert id="insertComment" parameterType="Comment">
        INSERT INTO comment
        (idx,
         writer,
         content)
        VALUES (
                #{idx},
                #{writer},
                #{content});
    </insert>
    <!-- 이너조인 빼기 -->
    <select id="getCommentList" resultType="Comment">
        SELECT c.comment_idx,
               c.idx,
               c.writer,
               c.content,
               c.regdate
        FROM board b
                 INNER JOIN comment c
                            ON b.idx = c.idx
        WHERE b.idx = #{idx}
    </select>

    <update id="updateComment" parameterType="Comment">
        UPDATE comment
        SET writer  = #{writer},
            content = #{content},
            regdate = now()
        WHERE comment_idx = #{commentIdx}
    </update>

    <delete id="deleteComment" parameterType="long">
        DELETE
        FROM comment
        WHERE comment_idx = #{commentIdx}
    </delete>

    <select id="getCommentListPaging" resultType="Comment">
        SELECT c.comment_idx,
               c.idx,
               c.writer,
               c.content,
               c.regdate
        FROM board b
                 INNER JOIN comment c
                            ON b.idx = c.idx
        WHERE b.idx = #{idx}
    </select>

</mapper>